<div class="admin-create">
  <div class="admin-create__header">
    <div>
      <h3>{{ 'superadmin.admin_create_title' | translate }}</h3>
      <p>{{ 'superadmin.admin_create_subtitle' | translate }}</p>
    </div>
    <button mat-icon-button (click)="close()" [attr.aria-label]="'superadmin.action_close' | translate">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="admin-create__form">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'superadmin.field_first_name' | translate }}</mat-label>
      <input matInput formControlName="first_name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'superadmin.field_last_name' | translate }}</mat-label>
      <input matInput formControlName="last_name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'superadmin.field_email' | translate }}</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'superadmin.field_password' | translate }}</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <mat-slide-toggle formControlName="is_superadmin" *ngIf="allowSuperadmin">
      {{ 'superadmin.field_is_superadmin' | translate }}
    </mat-slide-toggle>

    <mat-form-field appearance="fill" *ngIf="showSchoolSelect">
      <mat-label>{{ 'superadmin.field_school' | translate }}</mat-label>
      <mat-select formControlName="school_id">
        <mat-option *ngFor="let school of schools" [value]="school.id">{{ school.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'superadmin.field_role' | translate }}</mat-label>
      <input matInput formControlName="role" [placeholder]="'superadmin.field_role_placeholder' | translate" />
    </mat-form-field>

    <div class="admin-create__actions">
      <button mat-stroked-button type="button" (click)="close()">{{ 'superadmin.action_cancel' | translate }}</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="loading">
        {{ loading ? ('superadmin.action_saving' | translate) : ('superadmin.action_create_admin' | translate) }}
      </button>
    </div>
  </form>
</div>
