<div class="admin-password">
  <div class="admin-password__header">
    <div>
      <h3>{{ 'superadmin.admin_password_title' | translate }}</h3>
      <p>{{ 'superadmin.admin_password_subtitle' | translate }}</p>
    </div>
    <button mat-icon-button (click)="close()" [attr.aria-label]="'superadmin.action_close' | translate">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="admin-password__form">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'superadmin.field_new_password' | translate }}</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <div class="admin-password__actions">
      <button mat-stroked-button type="button" (click)="close()">{{ 'superadmin.action_cancel' | translate }}</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="loading">
        {{ loading ? ('superadmin.action_saving' | translate) : ('superadmin.action_update' | translate) }}
      </button>
    </div>
  </form>
</div>
